<div class="flex-wrap">
    <table style="width: 100%;" mat-table [dataSource]="files" class="mat-elevation-z8">
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef> File name</th>
          <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
        </ng-container>
        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td  mat-cell *matCellDef="let element">
            <a [appHighlight]='"black"' (click)="downloadFile(element.fileId, element.fileName)" mat-flat-button color="primary">Download</a>
          </td>
        </ng-container>      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <button [appHighlight]='"black"' (click)="downloadAll()" mat-flat-button color="accent">Download All</button>
</div>

  
  
