<form (ngSubmit)="onSubmit()" [formGroup]="fileForm" class="form-wrap">
    <mat-form-field appearance="fill">
        <div class="fileControl-wrapper">
            <input required matInput value="{{ fileForm.controls['uploadFileName'].value}}" readonly name="File" />
                <!-- <button mat-flat-button color="primary">Pick File</button> -->
            <input required required type="file" #uploadControl id="fileControlInput" (change)="onFileChange($event)" name="fileControlInput"
            multiple="multiple"/>
        </div>   
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose expiration date</mat-label>
        <input matInput [matDatepicker]="picker" min="{{date | date:'yyyy-MM-dd'}}" formControlName="expiryDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button [disabled]="!fileForm.valid"  mat-flat-button color="accent" type="submit">Share files</button>  
</form>
